/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//layout page styling
* { box-sizing: border-box; 
	margin: 0;
	padding :0;
}

li{
	list-style: none;
}

#logo_right{
	padding: 15px 10px 5px 30px;
}
.search_block	{
	position: relative;
	left: 8.5em;
}
.search_area{
	width: 50%;
}
.form-control{
	display: inline-block;
}
#sign_in_section a{
	padding-left: 35em;
}
.container{
	min-height: 800px;
	width: 75%;
}
.footer{
	height: 50px;
	background-color: #F5F5F5;
	width: 100%;
	padding: 15px 0 15px 55px;
}
