//layout page styling
* { box-sizing: border-box; 
	margin: 0;
	padding :0;
}
.navbar-brand a{
	color: #777;
	text-decoration: none;
}
li{
	list-style: none;
}
.navbar-brand a:hover{
	color: #000;
	text-decoration: none;
}
.container{
	min-height: 800px;
	width: 75%;
}
.footer{
	height: 50px;
	background-color: #F5F5F5;
	width: 100%;
	padding: 15px 0 15px 55px;
}


//static page styling
.index-articles, .edit_page, .show_page,.main_area{
	width: 60%; 
	float: left; 
	margin: 0.5px;
	padding: 15px; 
}
.new-art-btn{
	margin: 13px;
}
.featured_area{
	width: 39.5%;
	float: right; 
	margin: 0.5px;
	padding: 10px; 
}
.img-responsive{
	padding: 10px;
	margin-bottom: 20px;
}
.description{
	text-align: justify;
	height: 4.5em;
	padding: 5px;
	overflow:hidden; 
}
.description_detail{
 	padding: 10px;
}
.time{
	color: #337ab7;	
}
.box{
	min-height: 480px;
	max-height: 520px;
}

//show page styling
.show_page{
	width: 60%;
}

//new page styling
.new_page{
	width: 80%;
	margin: 0 auto;
}


//static pages
.main_area{
	padding: 20px;
}
#top_stories a{
	color: #000;
	text-decoration: none;
}
#top_stories a:hover{
	color: #cc0000;
	text-decoration: none;
}
//panel styles
#pull-me{
  -webkit-box-shadow: 0 0 8px #FFD700;
  -moz-box-shadow: 0 0 8px #FFD700;
  box-shadow: 0 0 8px #FFD700;
  cursor:pointer;
  text-align: center;
}
.article_panel {
	
	background-size:90% 90%;
	height:100px;
	display:none;
	font-family:garamond,times-new-roman,serif;
}
.article_panel p{
    text-align:center;
}
.slide {
	margin:0;
	padding:0;
	border-top:solid 2px #cc0000;
}
#pull-me {
	display:block;
    position:relative;
    right:-25px;
    width:150px;
    height:20px;
	font-family:arial,sans-serif;
    font-size:14px;
	color:#ffffff;
    background:#cc0000;
	text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#pull-me p {
    text-align:center;
}